<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/imgprofile.jpg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Mendoza Leandro Agustín</p>
        <p>Técnico informático</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, dolorem adipisci accusamus atque dicta nam. Adipisci, natus placeat? Nostrum dolor magnam eaque voluptate veritatis corporis quasi similique rerum architecto odio.
            </p>
        </span>
    </div>
</div>
