.row{
    padding: 15px;
}
div{
    background-color:     #A2D9CE;
}

@media (min-width: 576px){
#perfil{
    position: absolute;
    width: 16%;
    border-radius: 150%;
    box-shadow: 3px 3px 3px gray;
    top: 11%;
    right: 83%;
}
}
@media (max-width: 576px){
    #perfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        top: 20%;
        right: 40%;
    }
    }
#name{
    font-weight: bold;
    margin-top: 15%;
    margin-left: 0;
}