<div class="row">
    <div>
        <img src="../../../assets/imgprofile.jpg" class="img-fluid">
    </div>
    <div>
        <p>Mendoza Leandro Agustín</p>
        <p>Técnico informático</p>
    </div>
    <div>
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, dolorem adipisci accusamus atque dicta nam. Adipisci, natus placeat? Nostrum dolor magnam eaque voluptate veritatis corporis quasi similique rerum architecto odio.
            </p>
        </span>
    </div>
</div>
