<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p> 
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error commodi repellat, vitae eveniet optio animi odit. Ex minima eveniet autem amet in. Praesentium excepturi ratione repellat, temporibus expedita iusto ab.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p> 
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error commodi repellat, vitae eveniet optio animi odit. Ex minima eveniet autem amet in. Praesentium excepturi ratione repellat, temporibus expedita iusto ab.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p> 
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error commodi repellat, vitae eveniet optio animi odit. Ex minima eveniet autem amet in. Praesentium excepturi ratione repellat, temporibus expedita iusto ab.
            </p>
        </ul>
    </div>
</div>
