<div class="row">
    <h1> Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">    
        <circle-progress
        [percent]="80"
        [radius]="100"
        [showUnits]="false"
        [title]="'HTML'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true" 
        [animationDuration]="900"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">    
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [title]="'CSS'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true" 
        [animationDuration]="900"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">    
        <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [title]="'JS'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true" 
        [animationDuration]="900"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">    
        <circle-progress
        [percent]="80"
        [radius]="100"
        [showUnits]="false"
        [title]="'GitHub'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true" 
        [animationDuration]="900"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">    
        <circle-progress
        [percent]="60"
        [radius]="100"
        [showUnits]="false"
        [title]="'Inglés'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true" 
        [animationDuration]="900"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">    
        <circle-progress
        [percent]="100"
        [radius]="100"
        [showUnits]="false"
        [title]="'Compañerismo'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true" 
        [animationDuration]="900"
        ></circle-progress>
    </div>


</div>